<style scoped>
#companion {
  text-align: center;
}
.error {
  color: red;
}
</style>

<template>
  <div id="companion">
    <h1>Small World Companion</h1>
    <div>
      <h2>Content Selection</h2>
      <content-selection />
    </div>
    <div>
      <h2>Board Setup</h2>
      <span v-if="!showBoardSetup" class="error">
        Selected content does not include a main board
      </span>
      <board-setup v-if="showBoardSetup" />
    </div>
    <div>
      <h2>Race and Special Power Combos</h2>
      <span v-if="!showBoardSetup">
        Race and Special Power Combos will show up here
      </span>
      <combo-tracker v-if="showComboTracker" />
    </div>
  </div>
</template>

<script lang="ts">
import BoardSetup from "@/components/BoardSetup.vue";
import ComboTracker from "@/components/ComboTracker.vue";
import ContentSelection from "@/components/ContentSelection.vue";
import { useState } from "@/store";
import { computed, defineComponent } from "vue";

export default defineComponent({
  name: "Home",
  components: {
    BoardSetup,
    ContentSelection,
    ComboTracker,
  },
  setup() {
    const { boardConfig } = useState(["boardConfig"]);
    const showBoardSetup = computed(() => boardConfig.value.main !== null);
    const showComboTracker = showBoardSetup;
    return { showBoardSetup, showComboTracker };
  },
});
</script>
