<template>
  <div>
    <input v-model="enabled" :id="board?.id" type="checkbox" />
    <label :for="board?.id">{{ board?.name }}</label>
  </div>
</template>

<script lang="ts">
import { Board } from "@/content";
import { useActions, useState } from "@/store";
import { computed, defineComponent } from "vue";

export default defineComponent({
  name: "AdditionalBoardToggle",
  props: ["board"],
  setup(props: { board?: Board }) {
    const { boardConfig } = useState(["boardConfig"]);
    const { toggleAdditionalBoard } = useActions(["toggleAdditionalBoard"]);
    const enabled = computed({
      get: () =>
        props.board
          ? boardConfig.value.additional.includes(props.board.id)
          : false,
      set: (enabled) =>
        props.board
          ? toggleAdditionalBoard({ boardId: props.board.id, enabled })
          : null,
    });
    return { enabled };
  },
});
</script>
