<style lang="scss" scoped>
#banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 10em;
  height: 5em;
  .race & {
    border-radius: 0.25em 1.5em 0.25em 0.25em;
  }
  .power & {
    border-radius: 1.5em 0.25em 0.25em 1.5em;
  }
}
#plate {
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  text-shadow: 0 0 0.25em black;
  padding: 0.2em 0.4em;
  margin: 0.4em;
  $rotation: 2deg;
  .race & {
    align-self: flex-start;
    transform: rotate($rotation);
  }
  .power & {
    align-self: flex-end;
    transform: rotate(-$rotation);
  }
}
button {
  width: 6em;
  margin: 0.5em;
  align-self: flex-end;
}
.azeroth-theme {
  #banner {
    background: #9b4b15;
  }
  #plate {
    color: #572e00;
    text-shadow: 0 0 0.25em white;
    background: #d8b574;
  }
}
.default-theme {
  #banner {
    background: #612400;
  }
  #plate {
    background: #869096;
  }
}
.recycled-theme {
  #banner {
    background: #888888;
  }
  #plate {
    background: #b4b4b4;
  }
}
.scorched-theme {
  #banner {
    background: #1b1d22;
  }
  #plate {
    background: #62696d;
  }
}
.storm-theme {
  @extend .default-theme;
  #plate {
    text-shadow: 0 0 0.25em #ff00ff;
  }
}
.underground-theme {
  #banner {
    background: #273b61;
  }
  #plate {
    background: #927f6f;
  }
}
</style>

<template>
  <div :class="cssClasses">
    <div id="banner">
      <div id="plate">{{ power?.name }}</div>
      <button v-if="pickable" @click="pick">{{ label ?? "Pick" }}</button>
    </div>
  </div>
</template>

<script lang="ts">
import { Power } from "@/content";
import { Theme } from "@/content/tags";
import { includesValue } from "@/util";
import { computed, defineComponent } from "vue";

export default defineComponent({
  name: "Banner",
  props: ["power", "race", "pickable", "label"],
  setup(
    props: {
      power?: Power;
      race?: boolean;
      pickable?: boolean;
      label?: string;
    },
    { emit }
  ) {
    const theme = computed(
      () =>
        (props.power?.tags ?? []).find((tag) => includesValue(Theme, tag)) ??
        "default-theme"
    );
    const cssClasses = computed(() =>
      [props.race !== undefined ? "race" : "power", theme.value].join(" ")
    );
    function pick(): void {
      emit("pick");
    }
    return { cssClasses, pick };
  },
});
</script>
