<template>
  <h3>Main Board</h3>
  <select v-model="selectedMainBoard" :disabled="!selectedMainBoard">
    <option v-for="board in mainBoards" :key="board" :value="board.id">
      {{ board.name }}
    </option>
  </select>
  <h3 v-if="additionalBoards.length">Additional Boards</h3>
  <additional-board-toggle
    v-for="board in additionalBoards"
    :key="board"
    :board="board"
  />
</template>

<script lang="ts">
import { compareContentName } from "@/content/util";
import { useActions, useGetters, useState } from "@/store";
import { computed, defineComponent } from "vue";
import AdditionalBoardToggle from "./AdditionalBoardToggle.vue";

export default defineComponent({
  name: "BoardSetup",
  components: { AdditionalBoardToggle },
  setup() {
    const { boardConfig } = useState(["boardConfig"]);
    const { availableMainBoards, availableAdditionalBoards } = useGetters([
      "availableAdditionalBoards",
      "availableMainBoards",
    ]);
    const { setMainBoard } = useActions(["setMainBoard"]);
    const mainBoards = computed(() =>
      availableMainBoards.value.sort(compareContentName)
    );
    const additionalBoards = computed(() =>
      availableAdditionalBoards.value.sort(compareContentName)
    );
    const selectedMainBoard = computed({
      get: () => boardConfig.value.main,
      set: (boardId) => setMainBoard({ boardId }),
    });
    return { mainBoards, additionalBoards, selectedMainBoard };
  },
});
</script>
