<style scoped>
table {
  margin-left: auto;
  margin-right: auto;
}
</style>

<template>
  <table>
    <thead>
      <th></th>
      <th>Power</th>
      <th>Race</th>
    </thead>
    <tbody>
      <tr v-for="(combo, row) in availableCombos" :key="row">
        <td>{{ row + 1 }}</td>
        <td>
          <banner
            @pick="pickPower(row)"
            :power="combo.power"
            :pickable="swappingRow !== null"
          />
        </td>
        <td>
          <banner
            @pick="pickRace(row, combo)"
            :power="combo.race"
            :pickable="swappingRow === null || row === swappingRow"
            :label="row === swappingRow ? 'Cancel' : 'Pick'"
            race
          />
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script lang="ts">
import { Combo } from "@/content";
import { Power } from "@/content/tags";
import { useActions, useState } from "@/store";
import { defineComponent, Ref, ref, watch } from "vue";
import Banner from "./Banner.vue";

export default defineComponent({
  name: "ComboTracker",
  components: { Banner },
  setup() {
    const { availableCombos } = useState(["availableCombos"]);
    const { pickCombo, swapPower } = useActions(["pickCombo", "swapPower"]);
    const swappingRow: Ref<number | null> = ref(null);
    function pickRace(row: number, { race }: Combo): void {
      if ((race.tags ?? []).includes(Power.SwapPower)) {
        swappingRow.value = swappingRow.value === null ? row : null;
      } else {
        pickCombo({ row });
      }
    }
    function pickPower(row: number): void {
      swapPower({ rows: [row, swappingRow.value ?? row] });
      pickCombo({ row: swappingRow.value ?? row });
      swappingRow.value = null;
    }
    watch(availableCombos, () => (swappingRow.value = null));
    return { availableCombos, swappingRow, pickRace, pickPower };
  },
});
</script>
