<style scoped>
input {
  vertical-align: baseline;
}
#node {
  font-size: var(--text-size);
  margin-left: var(--margin);
}
</style>

<template>
  <div id="node" :style="cssVars">
    <label>
      <input v-model="enabled" :indeterminate.prop="partial" type="checkbox" />
      {{ node?.name }}
    </label>
  </div>
  <content-tree
    v-for="subNode in node?.nodes ?? []"
    :key="subNode"
    :node="subNode"
    :level="(level ?? 0) + 1"
  />
</template>

<script lang="ts">
import { useActions, useState } from "@/store";
import { includesAll, includesAny } from "@/util";
import { computed, defineComponent } from "vue";

export interface ContentNode {
  name: string;
  packIds: string[];
  nodes: ContentNode[];
}

export default defineComponent({
  name: "ContentTree",
  props: ["node", "level"],
  setup(props: { node?: ContentNode; level?: number }) {
    const { enabledPacks } = useState(["enabledPacks"]);
    const { togglePack } = useActions(["togglePack"]);
    const enabled = computed({
      get: () => includesAll(enabledPacks.value, props.node?.packIds ?? []),
      set: (enabled) =>
        (props.node?.packIds ?? []).forEach((packId) =>
          togglePack({ packId, enabled })
        ),
    });
    const partial = computed(
      () =>
        !enabled.value &&
        includesAny(enabledPacks.value, props.node?.packIds ?? [])
    );
    const cssVars = computed(() => ({
      "--text-size": `${1.25 - (props.level ?? 0) / 20}em`,
      "--margin": `${props.level ?? 0}em`,
    }));
    return { enabled, partial, cssVars };
  },
});
</script>
