<style scoped>
#root {
  display: inline-block;
  text-align: left;
}
</style>

<template>
  <div id="root">
    <content-tree
      v-for="node in rootNodes"
      :key="node"
      :node="node"
      :level="0"
    />
  </div>
  <h3>Compatibility</h3>
  <label>
    <input v-model="removeIncompatible" checked="true" type="checkbox" />
    Remove incompatible races and powers
  </label>
</template>

<script lang="ts">
import { Pack } from "@/content";
import { useActions, useState } from "@/store";
import { group } from "@/util";
import { computed, defineComponent } from "vue";
import ContentTree, { ContentNode } from "./ContentTree.vue";

function sortNodes(nodes: ContentNode[]): ContentNode[] {
  nodes.sort((a, b) => a.name.localeCompare(b.name));
  nodes.forEach((node) => sortNodes(node.nodes));
  return nodes;
}

function generatePackNodes(packs: Pack[]): ContentNode[] {
  return packs.map((pack) => ({
    name: pack.name,
    packIds: [pack.id],
    nodes: [],
  }));
}

function generateBundleNodes(packs: Pack[]): ContentNode[] {
  return [...group(packs, (pack) => pack.bundle ?? "").entries()].flatMap(
    ([bundle, packs]) =>
      bundle
        ? {
            name: bundle,
            packIds: packs.map((pack) => pack.id),
            nodes: generatePackNodes(packs),
          }
        : generatePackNodes(packs)
  );
}

function generateCategoryNodes(packs: Pack[]): ContentNode[] {
  return [...group(packs, (pack) => pack.category).entries()].map(
    ([category, packs]) => ({
      name: category,
      packIds: packs.map((pack) => pack.id),
      nodes: generateBundleNodes(packs),
    })
  );
}

export default defineComponent({
  name: "ContentSelection",
  components: { ContentTree },
  setup() {
    const { availablePacks, ignoreCompatibility } = useState([
      "availablePacks",
      "ignoreCompatibility",
    ]);
    const { toggleIgnoreCompatibility } = useActions([
      "toggleIgnoreCompatibility",
    ]);
    const rootNodes = computed(() =>
      sortNodes(generateCategoryNodes(availablePacks.value))
    );
    const removeIncompatible = computed({
      get: () => !ignoreCompatibility,
      set: (enabled) => toggleIgnoreCompatibility({ enabled: !enabled }),
    });
    return { rootNodes, removeIncompatible };
  },
});
</script>
